<h2>Semaines<a href="/calendar/new" class="btn btn-success">Créer</a></h2>
<ul class="list-group">
  {{#each calendars}}

  <li class="list-group-item">Semaine {{week}} -- <button class="btn btn-danger btn-sm">Edit</button> -- <button
      class="btn btn-danger btn-sm">delete</button></li>
  {{/each}}
</ul>